<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45937F61299A5A20002F54DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45937F77299A5A22002F54DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45937F81299A5A22002F54DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
